@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navbar{
    background-color: #121212;
}

.me-auto {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
	font-size: 1.3rem;
	font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    margin-block: 3rem;
    text-decoration: underline;
    text-decoration-color: #ff00b3;
    text-decoration-thickness: 0.3rem;
}

.container > span {
    color: #ccff00;
    padding-left: 0.8rem;
    font-size: 2.2rem;
    text-decoration: underline;
    text-decoration-color: #ff00b3;
    text-decoration-thickness: 0.2rem;
}

.container > h1 {
    padding-top: 40px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: overline;
    text-decoration-color: #881cfa;
    text-decoration-thickness: 0.5rem;
}

.Producto {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.Producto Img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(255, 122, 0, 0.8));
    transition: all .3s ease;
    margin-block: 1rem;
}

.Producto Img:hover{
    color: #f99b21;
}

.Producto Title {
    font-size: 1.2rem;
}

.Producto Text {
    font-size: 1.1rem;
}